@font-face {
  font-family: "OmnesBlack";
  src: url("OmnesBlack.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "OmnesSemiBold";
  src: url("OmnesSemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "IMPACT";
  src: url("IMPACT.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Eurostile";
  src: url("Eurostile.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GoodTimes";
  src: url("good_times.OTF");
  font-weight: 800;
  font-style: normal;
}
html, body {
  padding: 0;
  margin: 0;
  width: 1920px;
  height: 1080px;
  user-select: none;
}

.row_container {
  display: flex;
  gap: 7px;
}
.row_container .name_container {
  height: 55.04px;
  width: 1025px;
  background-color: white;
  border-radius: 11px;
  display: flex;
  align-items: center;
  gap: 30px;
}
.row_container .name_container .rank_container {
  height: 48.01px;
  width: 72px;
  margin-left: 5px;
  background-color: #00c2e8;
  border-radius: 11px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  font-family: "OmnesBlack";
}
.row_container .name_container .team_name {
  font-family: "OmnesBlack";
  font-size: 26px;
  color: #00c2e8;
}
.row_container .info_box {
  height: 55.04px;
  width: 118.99px;
  background-color: white;
  border-radius: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "OmnesBlack";
  font-size: 26px;
  color: #00c2e8;
}

.leaderboard_table {
  position: absolute;
  width: 1920px;
  height: 1080px;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.header_container {
  display: flex;
  gap: 7px;
}
.header_container .name_header {
  width: 1025px;
  height: 41.03px;
  box-shadow: inset 0 0 0 4px white;
  border-radius: 11px;
  display: flex;
  justify-content: baseline;
  align-items: center;
  gap: 36px;
  color: white;
  font-family: "OmnesBlack";
  font-size: 20.01px;
}
.header_container .info_header {
  width: 118.99px;
  height: 41.03px;
  box-shadow: inset 0 0 0 4px white;
  border-radius: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "OmnesBlack";
}

.leaderboard_container {
  width: 1920px;
  height: 1080px;
  background-image: url("leaderboard_background.png");
}
.leaderboard_container .wolt_character {
  position: absolute;
  width: 1920px;
  height: 1080px;
  margin-left: -350px;
  pointer-events: none;
  background-image: url("wolt_character.png");
}

.reddysh_royale .leaderboard_table {
  position: absolute;
  width: 100%;
  height: fit-content;
  top: 264px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.reddysh_royale .leaderboard_container {
  width: 1920px;
  height: 1080px;
  background-image: url("reddysh_royale_background.png");
}
.reddysh_royale .row_container {
  display: flex;
  gap: 15px;
}
.reddysh_royale .row_container .rank_container {
  height: 58px;
  width: 69px;
  margin-left: 5px;
  background-color: white;
  border-radius: 20px;
  color: #c15c6f;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  font-family: "OmnesBlack";
}
.reddysh_royale .row_container .name_container {
  height: 58px;
  width: 600px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  font-family: "IMPACT";
  color: #9ed2d8;
  font-size: 26px;
}
.reddysh_royale .row_container .info_box {
  height: 58px;
  width: 118.99px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "OmnesBlack";
  font-size: 26px;
  color: #9ed2d8;
}
.reddysh_royale .header_container {
  display: flex;
  gap: 15px;
  box-shadow: none;
  background-color: #c15c6f;
  border-radius: 20px;
}
.reddysh_royale .header_container .rank_header {
  width: 69px;
  height: 41.03px;
  box-shadow: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 36px;
  color: white;
  font-family: "IMPACT";
}
.reddysh_royale .header_container .name_header {
  width: 600px;
  height: 41.03px;
  box-shadow: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 36px;
  color: white;
  font-family: "IMPACT";
}
.reddysh_royale .header_container .info_header {
  width: 118.99px;
  height: 41.03px;
  box-shadow: none;
  border-radius: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "IMPACT";
}

.twitch_polls {
  position: relative;
  width: 1920px;
  height: 1080px;
  font-family: "IMPACT";
}
.twitch_polls .container {
  position: absolute;
  right: 30px;
  top: 114px;
  width: fit-content;
  min-width: 300px;
  padding: 25px;
  background-color: #ababdf;
}
.twitch_polls .container .question {
  width: 100%;
  font-family: "IMPACT";
  font-size: 30px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}
.twitch_polls .container .choices {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.twitch_polls .container .choices .choice {
  display: flex;
  padding: 10px;
  background-color: white;
  border-radius: 20px;
  color: #ababdf;
  justify-content: space-between;
}
.stizo_cup .leaderboard_table {
  position: absolute;
  width: 100%;
  height: fit-content;
  top: 166px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.stizo_cup .leaderboard_container {
  width: 1920px;
  height: 1080px;
  background: "";
  background-image: url("test_leaderboard.PNG");
}
.stizo_cup .row_container {
  display: flex;
  gap: 15px;
  color: #000000;
  box-shadow: inset 0 0 0 5px rgb(0, 0, 0);
}
.stizo_cup .row_container .rank_container {
  height: 62px;
  width: 90px;
  margin-left: 5px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  font-family: "Eurostile";
}
.stizo_cup .row_container .name_container {
  height: 58px;
  width: 579px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  background-color: transparent;
  font-family: "Eurostile";
  font-size: 26px;
}
.stizo_cup .row_container .info_box {
  height: 58px;
  width: 118.99px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  font-family: "Eurostile";
  font-size: 26px;
  color: #000000;
}
.stizo_cup .header_container {
  display: flex;
  gap: 15px;
  box-shadow: inset 0 0 0 5px rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
}
.stizo_cup .header_container .rank_header {
  width: 90px;
  height: 62px;
  margin-left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 36px;
  color: black;
  font-family: "Eurostile";
}
.stizo_cup .header_container .name_header {
  width: 579px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 36px;
  color: black;
  font-family: "Eurostile";
}
.stizo_cup .header_container .info_header {
  width: 118.99px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-family: "Eurostile";
}

.tcs .leaderboard_table {
  position: absolute;
  width: 100%;
  height: fit-content;
  top: 226px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  color: #002a4d;
}
.tcs .leaderboard_container {
  width: 1920px;
  height: 1080px;
  background-color: transparent;
  background-image: none;
}
.tcs .row_container {
  display: flex;
  gap: 10px;
}
.tcs .row_container .rank_container {
  height: 75px;
  width: 117px;
  margin-left: 5px;
  background-color: white;
  border-bottom: 5px solid #ffe400;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  font-family: "GoodTimes";
}
.tcs .row_container .name_container {
  height: 75px;
  width: 1107px;
  background-color: white;
  border-radius: 0;
  border-bottom: 5px solid #ffe400;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  font-family: "GoodTimes";
  font-size: 26px;
}
.tcs .row_container .info_box {
  height: 75px;
  width: 116px;
  border-radius: 0;
  background-color: white;
  border-bottom: 5px solid #ffe400;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "GoodTimes";
  font-size: 26px;
  color: #002a4d;
}
.tcs .header_container {
  display: flex;
  gap: 10px;
  box-shadow: none;
  border-radius: 0;
}
.tcs .header_container .rank_header {
  width: 117px;
  height: 40px;
  box-shadow: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 36px;
  color: white;
  font-family: "GoodTimes";
  background-color: #0070be;
}
.tcs .header_container .name_header {
  width: 1107px;
  height: 40px;
  box-shadow: none;
  border-radius: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 36px;
  color: white;
  font-family: "GoodTimes";
  background-color: #0070be;
}
.tcs .header_container .info_header {
  width: 116px;
  height: 40px;
  box-shadow: none;
  border-radius: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "GoodTimes";
  background-color: #0070be;
}

/*# sourceMappingURL=App.css.map */
