html, body {
  padding: 0;
  margin: 0;
  width: 1920px;
  height: 1080px;
  user-select: none;
}
.row_container {
  display: flex;
  gap: 7px;
  opacity: 1;
  transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(0);
}
.row_container .name_container {
  height: 55.04px;
  width: 1025px;
  background-color: white;
  border-radius: 11px;
  display: flex;
  align-items: center;
  gap: 30px;
}
.row_container .name_container .rank_container {
  height: 48.01px;
  width: 72px;
  margin-left: 5px;
  background-color: #00c2e8;
  border-radius: 11px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  font-family: "OmnesBlack";
}
.row_container .name_container .team_name {
  font-family: "OmnesBlack";
  font-size: 26px;
  color: #00c2e8;
}
.row_container .info_box {
  height: 55.04px;
  width: 118.99px;
  background-color: white;
  border-radius: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "OmnesBlack";
  font-size: 26px;
  color: #00c2e8;
}

.leaderboard_table {
  position: absolute;
  width: 1920px;
  height: 1080px;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.header_container {
  display: flex;
  gap: 7px;
}
.header_container .name_header {
  width: 1025px;
  height: 41.03px;

  border-radius: 11px;
  display: flex;
  justify-content: baseline;
  align-items: center;
  gap: 36px;
  color: white;
  font-family: "OmnesBlack";
  font-size: 20.01px;
}
.header_container .info_header {
  width: 118.99px;
  height: 41.03px;

  border-radius: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "OmnesBlack";
}

.leaderboard_container {
  width: 1920px;
  height: 1080px;
}
