@import './common.css';

.cdf {
  --team-stats-label-color: #ffffff;
  --team-stats-value-color: #ffffff;
  --team-stats-header-color: #d5393d;
}

.cdf .leaderboard_table {
  position: absolute;
  width: 100%;
  height: fit-content;
  top: 166px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.cdf .leaderboard_container {
  width: 1920px;
  height: 1080px;
  background: #111258; /*Couleur de fond */
  background-image: url(""); /* Image de fond */
}

.cdf .row_container {
  display: flex;
  gap: 15px;
  color: #ffffff; 
  box-shadow: inset 0 0 0 5px #d5393d; 
  opacity: 1; 
  position: relative; 
  transform: translateY(0); 
  transition: opacity 0.3s ease; 
  will-change: transform, opacity; 
}

.cdf .row_container .rank_container {
  height: 62px;
  width: 90px;
  margin-left: 5px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  font-family: "Eurostile";
}

.cdf .row_container .name_container {
  height: 58px;
  width: 579px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  background-color: transparent;
  font-family: "Eurostile";
  font-size: 26px;
}

.cdf .row_container .info_box {
  height: 58px;
  width: 118.99px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  font-family: "Eurostile";
  font-size: 26px;
  color: #ffffff; /* init blanc */
}

.cdf .header_container {
  display: flex;
  gap: 15px;
  box-shadow: inset 0 0 0 5px #d5393d; /* init blanc */
  background-color: #d5393d; /* init blanc */
}

.cdf .header_container .rank_header {
  width: 90px;
  height: 62px;
  margin-left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 36px;
  color: #ffffff; /* init noir */
  font-family: "Eurostile";
}

.cdf .header_container .name_header {
  width: 579px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 36px;
  color: #ffffff; /* init noir */
  font-family: "Eurostile";
}

.cdf .header_container .info_header {
  width: 118.99px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-family: "Eurostile";
}